{% extends 'C:\Users\Abdullah\Desktop\sih\nexaminds\templates\nexapp\base.html' %}

{%block title%}
Search Colleges
{% endblock %}

{% block content %}
<h3>College query form</h3>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

{% if query_result %}
    <h2>Search Results</h2>
    <ul>
    {% for college in query_result %}
        <li>
            <strong>{{ college.institute_name }}</strong><br>
            Address: {{college.address}}, {{college.city}}, {{college.state}}<br>
            Program: {{college.program }} <br>
            Course: {{college.course}} <br>
            Level = {{college.level}} <br>
            Government Institution: {{ college.govt|yesno:"Yes,No"}}

        </li>
    {% endfor %}
    </ul>
{% elif query_result == None %}
{% else %}
    <p>No results found</p>
{% endif %}
{% endblock %}